packageExtensions={"@electron/get@*":{"dependencies":{"semver":"^6.2.0","got":"^11.8.5","debug":"^4.1.1","progress":"^2.0.3","env-paths":"^2.2.0","sumchecker":"^3.0.1","global-agent":"^3.0.0","fs-extra":"^11.2.0"}},"fs-extra@*":{"dependencies":{"universalify":"^2.0.0","graceful-fs":"^4.2.0","jsonfile":"^6.0.1"}}}
